<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Execution Report</title>
		<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
		<style>
			td {
				overflow-wrap: anywhere;
			}
			.card {
				box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.3), 0 5 5 7px rgba(10, 10, 10, 0.12);
				padding: 1.2rem;
				border: 0px solid #fff;
			}
			.container {
				display: flex;
				justify-content: center;
				flex-direction: column;
			}
			h1,
			h3 {
				margin-top: 1rem;
				margin-bottom: 2rem;
				text-align: center;
			}
			body {
				background-color: #f9d7a314;
				height: 100vh;
			}
		</style>
	</head>
	<body>
		<section class="section">
			<div class="container">
				<h1 class="title">
					Vibranium Execution Report
				</h1>
				<h3>
					<b>Job ID:</b> {jobId} <b style="margin-left: 1.6rem;">Time Taken:</b> {timeTaken} <b style="margin-left: 1.5rem;">Status:</b> {status}
				</h3>
				<div class="card">
					<div class="card-body">
						<table class="table is-borderless is-striped is-hoverable is-fullwidth">
							<thead>
								<tr>
									<th><abbr title="Serial number">#</abbr></th>
									<th>Endpoint</th>
									<th>Scenario</th>
									<th>Collection</th>
									<th>URL</th>
									<th>Time Taken</th>
									<th>Response Status</th>
									<th>Assertion Status</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								{reportRows}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
