---
---

@import '{{ site.theme }}';

.navbar {
	overflow: hidden;
	background-color: #333;
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.773);
}

.navbar a {
	float: right;
	font-size: 16px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.dropdown {
	float: right;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
	background-color: #1b1a1a;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgb(42, 42, 42);
	min-width: 160px;
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.773);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: rgb(23, 23, 23);
}

.dropdown:hover .dropdown-content {
	display: block;
}

.wrapper section {
	margin-top: 0px;
}

code.language-plaintext.highlighter-rouge {
	color: #f1bb6d;
	background-color: #191919;
}

a.next-page-link {
	float: right;
	font-style: italic;
	margin-top: 2rem;
}

a.prev-page-link {
	float: left;
	font-style: italic;
	margin-top: 2rem;
}